In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import datetime
from scipy import stats
import requests
from requests import get
from bs4 import BeautifulSoup
import xgboost as xgb
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from numpy import absolute
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from linearmodels import PooledOLS
import statsmodels.api as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects
from sklearn.decomposition import PCA
import prince
import mca
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from numpy import mean
from numpy import std
from numpy import absolute
from sklearn.linear_model import LassoCV
from numpy import arange
from statsmodels.tools.eval_measures import rmse
from statsmodels.tools.eval_measures import meanabs
import statsmodels.api as sm

In [2]:
file = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/transaction.csv'
df_tr = pd.read_csv(file, header = None, index_col = 0)
df_tr.columns = ['type', 'from', 'to', 'date', 'punk_id', 'amount_in_eth', 'amount_in_dol']
df_tr = df_tr[ ['punk_id'] + [ col for col in df_tr.columns if col != 'punk_id' ] ]
df_tr.head()

,punk_id,type,from,to,date,amount_in_eth,amount_in_dol
0,,,,,,,
0,0,Bid Withdrawn,0x983ace,NaN,2021-05-10,250.0,1030000.0
1,0,Bid,0x983ace,NaN,2021-04-11,250.0,"537,615"
2,0,Bid Withdrawn,0xd7510a,NaN,2021-03-03,100.0,"160,973"
3,0,Bid,0xd7510a,NaN,2021-02-20,100.0,"188,897"
4,0,Bid Withdrawn,natealex,NaN,2020-09-16,69.0,"25,532"

In [3]:
def fix_df(x):
    x['punk_id'] = x['punk_id'].astype('category')
    x['type'] = x['type'].astype('category')
    x['from'] = x['from'].astype(str)
    x['to'] = x['to'].astype(str)
    x['date'] = pd.to_datetime(x['date'], format = '%Y.%m.%d')
    
    x['amount_in_eth'] = x['amount_in_eth'].astype(str)
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Y', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Z', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('M', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('T', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('B', '')
    x['amount_in_eth'] = x['amount_in_eth'].replace(',', '', regex=True)
    x['amount_in_eth'] = x['amount_in_eth'].astype(float)

    x['amount_in_dol'] = x['amount_in_dol'].astype(str)
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Y', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('B', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('T', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('P', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Z', '')
    x['amount_in_dol'] = x['amount_in_dol'].replace('<', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].replace(',', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].astype(float)
    
    x['amount_in_eth'] = x['amount_in_eth'].fillna(0)
    x['amount_in_dol'] = x['amount_in_dol'].fillna(0)

    return x

In [4]:
df_tr = fix_df(df_tr)

sales = df_tr[df_tr['type'].str.contains("Sold")].reset_index(drop=True)
sales = sales.drop(['from', 'to', 'type', 'amount_in_eth'], axis=1)
sales.head()

  punk_id       date  amount_in_dol
0       0 2018-11-30         2822.0
1       0 2017-07-07          386.0
2       0 2017-06-23          320.0
3       1 2020-11-30        36305.0
4       1 2019-04-06         5155.0

In [5]:
ids = sales.punk_id.unique().tolist()
punks = []
check = []
for i in ids:
    try:
        var = sales.loc[sales.punk_id==i,'amount_in_dol'].values[1]
    except IndexError:
        var_exists = 0
    else:
        var_exists = var
    punks.append(i)
    check.append(var_exists)

sec_sales = dict(zip(punks, check))

In [6]:
ids = sales.punk_id.unique().tolist()
punks = []
check = []
for i in ids:
    sale = sales.loc[sales.punk_id==i,'amount_in_dol'].values[0]
    punks.append(i)
    check.append(sale)

last_sale = dict(zip(punks, check))

In [7]:
df_last_sale = pd.DataFrame(last_sale.items())
dict_name={0:'punk_id', 1:  'last_sale'}
df_last_sale.rename(columns=dict_name,inplace=True)

In [8]:
df_sec_sale = pd.DataFrame(sec_sales.items())
dict_name={0:'punk_id', 1:  'sec_sale',}
df_sec_sale.rename(columns=dict_name,inplace=True)

In [9]:
df = pd.merge(df_last_sale, df_sec_sale, on="punk_id", how='left')
df

      punk_id  last_sale  sec_sale
0           0     2822.0     386.0
1           1    36305.0    5155.0
2          14      234.0     351.0
3          33      105.0       0.0
4          53    42803.0   26612.0
...       ...        ...       ...
5586     9980       70.0       0.0
5587     9989      140.0       0.0
5588     9990    44981.0       0.0
5589     9997   169770.0   21062.0
5590     9998    61170.0    9499.0

[5591 rows x 3 columns]

In [10]:
file2 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/accessories.csv'
df_acc = pd.read_csv(file2, header = None, sep='\n')
df_acc = df_acc[0].str.split(',', expand=True)
df_acc.drop(0, axis=1, inplace=True)

dict={1:'gender', 
      2:  'acc_1',
      3:'acc_2', 
      4: 'acc_3',
      5:'acc_4',
      6: 'acc_5',
      7:'acc_6',
      8:'acc_7'}
df_acc.rename(columns=dict,
          inplace=True)

In [11]:
types = df_acc['gender']
types_dummies = pd.get_dummies(types)
types_dummies['punk_id'] = types_dummies.index
types_dummies = types_dummies[ ['punk_id'] + [ col for col in types_dummies.columns if col != 'punk_id' ] ]

In [12]:
file3 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/accessories_transformed_full.csv'
acc = pd.read_csv(file3, index_col = 0)
acc['punk_id'] = acc.index
acc = acc[ ['punk_id'] + [ col for col in acc.columns if col != 'punk_id' ] ]

In [13]:
df = pd.merge(df, types_dummies, on="punk_id", how='left')
df = pd.merge(df, acc, on="punk_id", how='left')

df = df.set_index(['punk_id'])
df = df.fillna(0)
df

,last_sale,sec_sale,Alien,Ape,Female,Male,Zombie,Beanie,Choker,Pilot Helmet,...,Regular Shades,Horned Rim Glasses,Big Shades,Nerd Glasses,Black Lipstick,Mole,Purple Lipstick,Hot Lipstick,Cigarette,Earring
punk_id,,,,,,,,,,,,,,,,,,,,,
0,2822.0,386.0,0,0,1,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,36305.0,5155.0,0,0,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,234.0,351.0,0,0,1,0,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
33,105.0,0.0,0,0,0,1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,42803.0,26612.0,0,0,1,0,0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,70.0,0.0,0,0,1,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9989,140.0,0.0,0,0,1,0,0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
9990,44981.0,0.0,0,0,0,1,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,169770.0,21062.0,0,0,0,0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,61170.0,9499.0,0,0,1,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [14]:
y = df['last_sale']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X['sec_sale'] = X['sec_sale'].round(decimals=-2)
X = X.astype(int)
X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)

In [15]:
sm_reg = sm.OLS(y_train, X_train).fit()
print(sm_reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              last_sale   R-squared:                       0.431
Model:                            OLS   Adj. R-squared:                  0.418
Method:                 Least Squares   F-statistic:                     31.50
Date:                Thu, 01 Jul 2021   Prob (F-statistic):               0.00
Time:                        18:23:08   Log-Likelihood:                -51859.
No. Observations:                3913   AIC:                         1.039e+05
Df Residuals:                    3820   BIC:                         1.045e+05
Df Model:                          92
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                 5.884e+05   1.81e+04     32.487      0.000    5.53e+05    6.24e+05
sec_sale                 1.1569      0.081     14.330      0.000       0.999       1.315
Alien                 2.602e+06    5.3e+04     49.124      0.000     2.5e+06    2.71e+06
Ape                   -4.42e+05   3.58e+04    -12.355      0.000   -5.12e+05   -3.72e+05
Female               -5.482e+05   1.49e+04    -36.838      0.000   -5.77e+05   -5.19e+05
Male                 -5.625e+05   1.41e+04    -39.795      0.000    -5.9e+05   -5.35e+05
Zombie               -4.605e+05   2.52e+04    -18.296      0.000    -5.1e+05   -4.11e+05
Beanie                5.527e+04   3.27e+04      1.688      0.091   -8907.762    1.19e+05
Choker                1.814e+04    3.1e+04      0.585      0.558   -4.26e+04    7.89e+04
Pilot Helmet          3.716e+04    3.1e+04      1.198      0.231   -2.37e+04     9.8e+04
Tiara                 2477.3317   3.56e+04      0.070      0.944   -6.73e+04    7.22e+04
Orange Side           3.968e+04   3.01e+04      1.318      0.188   -1.94e+04    9.87e+04
Buck Teeth            2.517e+04   2.63e+04      0.956      0.339   -2.64e+04    7.68e+04
Welding Goggles       4306.4140   3.29e+04      0.131      0.896   -6.02e+04    6.88e+04
Pigtails             -1815.1219   2.91e+04     -0.062      0.950   -5.88e+04    5.52e+04
Pink With Hat        -1.305e+04   3.02e+04     -0.433      0.665   -7.22e+04    4.61e+04
Top Hat               1.742e+04   2.51e+04      0.693      0.489   -3.19e+04    6.67e+04
Spots                 1.034e+04   2.13e+04      0.487      0.627   -3.13e+04     5.2e+04
Rosy Cheeks           7611.8701   2.08e+04      0.366      0.714   -3.31e+04    4.83e+04
Blonde Short          -2.11e+04   2.88e+04     -0.733      0.464   -7.75e+04    3.53e+04
Wild White Hair      -1.492e+04   2.54e+04     -0.587      0.558   -6.48e+04     3.5e+04
Cowboy Hat            1407.5674   2.31e+04      0.061      0.951   -4.39e+04    4.67e+04
Wild Blonde           7898.4160   2.88e+04      0.274      0.784   -4.86e+04    6.44e+04
Straight Hair Blonde  1.392e+04   2.62e+04      0.532      0.595   -3.74e+04    6.52e+04
Big Beard             6540.1754   1.82e+04      0.359      0.719   -2.91e+04    4.22e+04
Red Mohawk           -5921.6348    2.3e+04     -0.258      0.797    -5.1e+04    3.91e+04
Half Shaved           -1.48e+04   2.78e+04     -0.532      0.595   -6.94e+04    3.98e+04
Blonde Bob           -2.844e+04   2.73e+04     -1.041      0.298    -8.2e+04    2.51e+04
Vampire Hair         -1.334e+04   2.19e+04     -0.608      0.543   -5.64e+04    2.97e+04
Clown Hair Green     -6692.3826   2.26e+04     -0.297      0.767   -5.09e+04    3.75e+04
Straight Hair Dark    1.275e+04   2.67e+04      0.477      0.634   -3.97e+04    6.52e+04
Straight Hair        -3.229e+04   2.45e+04     -1.319      0.187   -8.03e+04    1.57e+04
Silver Chain          9578.2436   1.84e+04      0.520      0.603   -2.66e+04    4.57e+04
Dark Hair            -1.954e+04   2.48e+04     -0.788      0.431   -6.82e+04    2.91e+04
Purple Hair          -7795.4054   2.34e+04     -0.333      0.739   -5.37e+04    3.81e+04
Gold Chain           -2101.1335   1.81e+04     -0.116      0.908   -3.77e+04    3.35e+04
Medical Mask         -4.411e+04    1.7e+04     -2.595      0.010   -7.74e+04   -1.08e+04
Tassle Hat           -2.398e+04   2.41e+04     -0.995      0.320   -7.12e+04    2.33e+04
Fedora               -1.313e+04   2.14e+04     -0.613      0.540   -5.51e+04    2.89e+04
Police Cap            9991.8568   2.11e+04      0.472      0.637   -3.15e+04    5.15e+04
Clown Nose            -464.8361    1.7e+04     -0.027      0.978   -3.38e+04    3.28e+04
Smile                 2.537e+04   1.49e+04      1.704      0.088   -3823.717    5.46e+04
Cap Forward           5.795e+04   1.81e+04      3.205      0.001    2.25e+04    9.34e+04
Hoodie                1.786e+04   2.01e+04      0.889      0.374   -2.15e+04    5.72e+04
Front Beard Dark      4370.1181   1.81e+04      0.242      0.809    -3.1e+04    3.98e+04
Frown                 1.323e+04   1.36e+04      0.971      0.331   -1.35e+04    3.99e+04
Purple Eye Shadow    -4025.0435   1.52e+04     -0.264      0.792   -3.39e+04    2.59e+04
Handlebars            1293.7582   1.43e+04      0.091      0.928   -2.67e+04    2.93e+04
Blue Eye Shadow       -249.6001   1.53e+04     -0.016      0.987   -3.03e+04    2.98e+04
Green Eye Shadow      8136.6416   1.56e+04      0.523      0.601   -2.24e+04    3.87e+04
Vape                  3916.7926   1.46e+04      0.268      0.789   -2.47e+04    3.26e+04
Front Beard            833.1972   1.33e+04      0.063      0.950   -2.52e+04    2.69e+04
Chinstrap             5274.3637   1.27e+04      0.415      0.678   -1.96e+04    3.02e+04
3D Glasses            4.519e+04   1.47e+04      3.067      0.002    1.63e+04    7.41e+04
Luxurious Beard       1.587e+04   1.49e+04      1.065      0.287   -1.34e+04    4.51e+04
Mustache             -3995.3117   1.34e+04     -0.297      0.766   -3.03e+04    2.23e+04
Normal Beard Black    2335.7309   1.85e+04      0.126      0.899   -3.39e+04    3.85e+04
Normal Beard          5096.4123   1.31e+04      0.389      0.698   -2.06e+04    3.08e+04
Eye Mask              3414.4525   1.32e+04      0.259      0.796   -2.24e+04    2.93e+04
Goat                 -5187.6633   1.31e+04     -0.397      0.691   -3.08e+04    2.04e+04
Do-rag               -2.553e+04   1.91e+04     -1.340      0.180   -6.29e+04    1.18e+04
Shaved Head          -2.371e+04   1.86e+04     -1.272      0.204   -6.03e+04    1.28e+04
Muttonchops           2655.1616    1.3e+04      0.205      0.838   -2.27e+04     2.8e+04
Peak Spike           -1.524e+04   1.97e+04     -0.774      0.439   -5.38e+04    2.34e+04
Pipe                  4.331e+04   1.25e+04      3.475      0.001    1.89e+04    6.77e+04
VR                    1.143e+04   1.38e+04      0.826      0.409   -1.57e+04    3.86e+04
Cap                  -3.842e+04   1.91e+04     -2.015      0.044   -7.58e+04   -1038.128
Small Shades           3.52e+04   1.17e+04      2.996      0.003    1.22e+04    5.82e+04
Clown Eyes Green      1796.4434   1.24e+04      0.145      0.885   -2.25e+04    2.61e+04
Clown Eyes Blue       -795.4082   1.29e+04     -0.062      0.951   -2.61e+04    2.45e+04
Headband              2771.7045   1.81e+04      0.153      0.879   -3.28e+04    3.84e+04
Crazy Hair             -1.1e+04   1.85e+04     -0.593      0.553   -4.73e+04    2.53e+04
Knitted Cap          -3468.6744   1.64e+04     -0.212      0.832   -3.55e+04    2.86e+04
Mohawk Dark           -808.5178   1.54e+04     -0.053      0.958    -3.1e+04    2.93e+04
Mohawk               -2.057e+04    1.8e+04     -1.140      0.254   -5.59e+04    1.48e+04
Mohawk Thin          -1629.2986   1.46e+04     -0.111      0.911   -3.03e+04    2.71e+04
Frumpy Hair          -2.697e+04   1.79e+04     -1.508      0.132    -6.2e+04    8092.897
Wild Hair            -1.399e+04   1.82e+04     -0.770      0.441   -4.96e+04    2.16e+04
Messy Hair            -2.19e+04   1.79e+04     -1.225      0.220   -5.69e+04    1.31e+04
Eye Patch             8384.8978   1.13e+04      0.741      0.459   -1.38e+04    3.06e+04
Stringy Hair         -2.079e+04   1.78e+04     -1.171      0.242   -5.56e+04     1.4e+04
Bandana              -3.304e+04   1.73e+04     -1.905      0.057    -6.7e+04     972.370
Classic Shades        4162.8562   1.02e+04      0.407      0.684   -1.59e+04    2.42e+04
Shadow Beard          3117.3943   1.05e+04      0.298      0.766   -1.74e+04    2.36e+04
Regular Shades       -1843.3411    1.1e+04     -0.168      0.866   -2.33e+04    1.96e+04
Horned Rim Glasses    5895.7037   1.02e+04      0.577      0.564   -1.41e+04    2.59e+04
Big Shades            6814.4267   1.01e+04      0.672      0.502   -1.31e+04    2.67e+04
Nerd Glasses         -1585.4310      1e+04     -0.158      0.874   -2.12e+04     1.8e+04
Black Lipstick       -4989.5134   1.11e+04     -0.451      0.652   -2.67e+04    1.67e+04
Mole                  -665.5674   8951.234     -0.074      0.941   -1.82e+04    1.69e+04
Purple Lipstick      -3750.5684   1.09e+04     -0.343      0.732   -2.52e+04    1.77e+04
Hot Lipstick         -1445.6146   1.06e+04     -0.137      0.891   -2.22e+04    1.93e+04
Cigarette             2801.4155   7758.546      0.361      0.718   -1.24e+04     1.8e+04
Earring               -674.0522   5200.262     -0.130      0.897   -1.09e+04    9521.504
==============================================================================
Omnibus:                     6202.698   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         69848573.497
Skew:                           8.919   Prob(JB):                         0.00
Kurtosis:                     657.287   Cond. No.                     3.17e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.7e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [17]:
y_pred = sm_reg.predict(X_test)
print('Mean Absolute Error:', meanabs(y_test, y_pred))
print('Root Mean Squared Error:', rmse(y_test, y_pred))

Mean Absolute Error: 35347.738735701205
Root Mean Squared Error: 129733.59000172261

In [28]:
tmp = (sm_reg.pvalues <= 0.05)[1:]
tmp = pd.DataFrame(tmp)
tmp.reset_index(level=0, inplace=True)
tmp.rename(columns={0:'high_sig', 'index': 'attr'}, inplace=True )
sigf = tmp.loc[tmp['high_sig'] == True, 'attr']
sigf

0         sec_sale
1            Alien
2              Ape
3           Female
4             Male
5           Zombie
35    Medical Mask
41     Cap Forward
52      3D Glasses
63            Pipe
65             Cap
66    Small Shades
Name: attr, dtype: object

# Lasso Regression

In [30]:
y = df['last_sale']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X['sec_sale'] = X['sec_sale'].round(decimals=-2)
X = X.astype(int)
X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)

In [34]:
import warnings
warnings.filterwarnings('ignore')
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = LassoCV(alphas=arange(0, 1, 0.01), cv=cv, n_jobs=-1)
# fit model
model.fit(X_train, y_train)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)

alpha: 0.960000

In [35]:
opt_model = Lasso(alpha=0.96)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)
opt_model.fit(X_train, y_train)
print('Adjusted Rsquared: {}.'.format(1 - (1-opt_model.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)))

Adjusted Rsquared: 0.41734372935133857.

In [36]:
y_pred = opt_model.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 35327.65154049586
Mean Squared Error: 16823907451.681755
Root Mean Squared Error: 129707.0061780849