In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import datetime
from scipy import stats
import requests
from requests import get
from bs4 import BeautifulSoup
import xgboost as xgb
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from numpy import absolute
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from linearmodels import PooledOLS
import statsmodels.api as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects
from sklearn.decomposition import PCA
import prince
import mca
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from numpy import mean
from numpy import std
from numpy import absolute
from sklearn.linear_model import LassoCV
from numpy import arange

In [13]:
file = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/transaction.csv'
df_tr = pd.read_csv(file, header = None, index_col = 0)
df_tr.columns = ['type', 'from', 'to', 'date', 'punk_id', 'amount_in_eth', 'amount_in_dol']
df_tr = df_tr[ ['punk_id'] + [ col for col in df_tr.columns if col != 'punk_id' ] ]
df_tr.head()

,punk_id,type,from,to,date,amount_in_eth,amount_in_dol
0,,,,,,,
0,0,Bid Withdrawn,0x983ace,NaN,2021-05-10,250.0,1030000.0
1,0,Bid,0x983ace,NaN,2021-04-11,250.0,"537,615"
2,0,Bid Withdrawn,0xd7510a,NaN,2021-03-03,100.0,"160,973"
3,0,Bid,0xd7510a,NaN,2021-02-20,100.0,"188,897"
4,0,Bid Withdrawn,natealex,NaN,2020-09-16,69.0,"25,532"

In [14]:
def fix_df(x):
    x['punk_id'] = x['punk_id'].astype('category')
    x['type'] = x['type'].astype('category')
    x['from'] = x['from'].astype(str)
    x['to'] = x['to'].astype(str)
    x['date'] = pd.to_datetime(x['date'], format = '%Y.%m.%d')
    
    x['amount_in_eth'] = x['amount_in_eth'].astype(str)
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Y', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Z', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('M', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('T', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('B', '')
    x['amount_in_eth'] = x['amount_in_eth'].replace(',', '', regex=True)
    x['amount_in_eth'] = x['amount_in_eth'].astype(float)

    x['amount_in_dol'] = x['amount_in_dol'].astype(str)
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Y', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('B', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('T', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('P', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Z', '')
    x['amount_in_dol'] = x['amount_in_dol'].replace('<', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].replace(',', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].astype(float)
    
    x['amount_in_eth'] = x['amount_in_eth'].fillna(0)
    x['amount_in_dol'] = x['amount_in_dol'].fillna(0)

    return x

In [15]:
df_tr = fix_df(df_tr)

#Average Sale Price
sales = df_tr[df_tr['type'].str.contains("Sold")].reset_index(drop=True)
sales = sales.drop(['from', 'to', 'type', 'amount_in_eth'], axis=1)
sales = sales.groupby(['punk_id'])['amount_in_dol'].mean().reset_index()
sales = sales.fillna(0)
sales.head()

  punk_id  amount_in_dol
0       0    1176.000000
1       1   13855.666667
2       2       0.000000
3       3       0.000000
4       4       0.000000

In [16]:
file2 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/accessories.csv'
df_acc = pd.read_csv(file2, header = None, sep='\n')
df_acc = df_acc[0].str.split(',', expand=True)
df_acc.drop(0, axis=1, inplace=True)

dict={1:'gender', 
      2:  'acc_1',
      3:'acc_2', 
      4: 'acc_3',
      5:'acc_4',
      6: 'acc_5',
      7:'acc_6',
      8:'acc_7'}
df_acc.rename(columns=dict,
          inplace=True)
  
df_acc.head()

   gender             acc_1         acc_2       acc_3 acc_4 acc_5 acc_6 acc_7
0  Female  Green Eye Shadow       Earring  Blonde Bob  None  None  None  None
1    Male             Smile        Mohawk        None  None  None  None  None
2  Female         Wild Hair          None        None  None  None  None  None
3    Male         Wild Hair  Nerd Glasses        Pipe  None  None  None  None
4    Male        Big Shades     Wild Hair     Earring  Goat  None  None  None

In [17]:
types = df_acc['gender']
types_dummies = pd.get_dummies(types)
types_dummies['punk_id'] = types_dummies.index
types_dummies = types_dummies[ ['punk_id'] + [ col for col in types_dummies.columns if col != 'punk_id' ] ]

In [18]:
file3 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/accessories_transformed_full.csv'
acc = pd.read_csv(file3, index_col = 0)
acc['punk_id'] = acc.index
acc = acc[ ['punk_id'] + [ col for col in acc.columns if col != 'punk_id' ] ]
acc.head()

,punk_id,Beanie,Choker,Pilot Helmet,Tiara,Orange Side,Buck Teeth,Welding Goggles,Pigtails,Pink With Hat,...,Regular Shades,Horned Rim Glasses,Big Shades,Nerd Glasses,Black Lipstick,Mole,Purple Lipstick,Hot Lipstick,Cigarette,Earring
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [19]:
df = pd.merge(sales, types_dummies, on="punk_id", how='left')
df = pd.merge(df, acc, on="punk_id", how='left')

df = df.set_index(['punk_id'])
df = df.fillna(0)
df

,amount_in_dol,Alien,Ape,Female,Male,Zombie,Beanie,Choker,Pilot Helmet,Tiara,...,Regular Shades,Horned Rim Glasses,Big Shades,Nerd Glasses,Black Lipstick,Mole,Purple Lipstick,Hot Lipstick,Cigarette,Earring
punk_id,,,,,,,,,,,,,,,,,,,,,
0,1176.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,13855.666667,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.000000,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
9997,95416.000000,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,35334.500000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9999,0.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

# Simple Linear Regression

In [20]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [21]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)
print('Adjusted Rsquared: {}.'.format(1 - (1-regressor.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)))

Adjusted Rsquared: 0.17245715174791143.

In [22]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df = coeff_df.sort_values(by=['Coefficient'], ascending=False)
coeff_df

               Coefficient
Alien         2.189805e+17
Zombie        2.189805e+17
Ape           2.189805e+17
Female        2.189805e+17
Male          2.189805e+17
...                    ...
Headband     -1.942000e+03
Goat         -2.734000e+03
Knitted Cap  -3.456000e+03
Medical Mask -6.554500e+03
Police Cap   -8.320000e+03

[92 rows x 1 columns]

In [23]:
y_pred = regressor.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 22819.017333333333
Mean Squared Error: 5022405005.189333
Root Mean Squared Error: 70868.92834796738

# Linear Regression with Lasso Regularization

In [24]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

In [25]:
import warnings
warnings.filterwarnings('ignore')
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = LassoCV(alphas=arange(0, 1, 0.01), cv=cv, n_jobs=-1)
# fit model
model.fit(X, y)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)

alpha: 0.840000

In [26]:
opt_model = Lasso(alpha=0.84)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)
opt_model.fit(X_train, y_train)
print('Adjusted Rsquared: {}.'.format(1 - (1-opt_model.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)))

Adjusted Rsquared: 0.12196003232050268.

In [27]:
coeff_df = pd.DataFrame(opt_model.coef_, X.columns, columns=['Coefficient'])
coeff_df = coeff_df.sort_values(by=['Coefficient'], ascending=False)
coeff_df

                Coefficient
Alien         573300.159005
Zombie         78677.322847
Ape            68579.642534
Orange Side    34167.047925
Pilot Helmet   31169.136987
...                     ...
Mohawk         -5682.013011
Police Cap     -6503.918895
Male           -6513.519322
Peak Spike     -6694.475288
Tassle Hat     -7693.863660

[92 rows x 1 columns]

In [28]:
y_pred = opt_model.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 21522.69302146278
Mean Squared Error: 4527783666.869885
Root Mean Squared Error: 67288.80788712106

# Linear Regression with MCA

In [29]:
mca_acc = prince.MCA(
     n_components=8,
     n_iter=10,
     copy=True,
     check_input=True,
     engine='auto',
     random_state=42
 )
mca_acc = mca_acc.fit(df_acc)
mca_acc.explained_inertia_

[0.017491918697282397,
 0.011619412955466613,
 0.011310967007782677,
 0.011115670453114113,
 0.010301098069866092,
 0.010226499546043153,
 0.00982573074770247,
 0.009706208772175538]

In [30]:
mca_acc = mca_acc.transform(df_acc)
mca_acc = pd.DataFrame(mca_acc)
mca_acc.index.name='punk_id'
mca_acc.head()

,0,1,2,3,4,5,6,7
punk_id,,,,,,,,
0,1.038836,0.013757,0.491787,-0.203250,-0.563574,-0.262089,-0.476637,-0.299301
1,-0.738621,0.155581,2.245116,-0.137410,1.143202,-0.091987,1.360325,1.928501
2,0.373272,0.144719,-0.207156,-1.046743,0.134286,-0.031461,-0.077573,-0.439775
3,-0.755384,0.075674,-0.109474,-0.807458,0.010501,-0.110404,0.163441,-0.754422
4,-0.210543,-0.175639,0.027385,0.388300,-0.442742,-0.005061,-0.254494,-0.047554

In [31]:
df = pd.merge(sales, mca_acc, on="punk_id", how='left')
df = df.set_index(['punk_id'])
df = df.fillna(0)
df

,amount_in_dol,0,1,2,3,4,5,6,7
punk_id,,,,,,,,,
0,1176.000000,1.038836,0.013757,0.491787,-0.203250,-0.563574,-0.262089,-0.476637,-0.299301
1,13855.666667,-0.738621,0.155581,2.245116,-0.137410,1.143202,-0.091987,1.360325,1.928501
2,0.000000,0.373272,0.144719,-0.207156,-1.046743,0.134286,-0.031461,-0.077573,-0.439775
3,0.000000,-0.755384,0.075674,-0.109474,-0.807458,0.010501,-0.110404,0.163441,-0.754422
4,0.000000,-0.210543,-0.175639,0.027385,0.388300,-0.442742,-0.005061,-0.254494,-0.047554
...,...,...,...,...,...,...,...,...,...
9995,0.000000,1.603686,0.041473,1.233879,-0.071900,-1.523943,-0.257354,-0.514234,0.473575
9996,0.000000,-0.681362,-0.236497,-0.243782,0.416840,-0.357151,-0.117103,-0.049904,-0.175537
9997,95416.000000,-0.868262,-0.404074,-0.140224,0.951132,-0.544511,0.116622,0.904179,1.276691
9998,35334.500000,0.995286,-0.022246,-0.362990,0.210627,0.774630,0.185851,0.255223,-0.426076
9999,0.000000,0.593780,0.228273,-0.416362,-1.128595,0.065513,-0.006164,0.269166,-0.052048

In [32]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)

In [33]:
mca_reg = LinearRegression()
mca_reg.fit(X_train, y_train)
print('Adjusted Rsquared: {}.'.format(1 - (1-mca_reg.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)))

Adjusted Rsquared: 0.005430133218859212.

In [34]:
y_pred = mca_reg.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 21868.49592996465
Mean Squared Error: 5606689169.392453
Root Mean Squared Error: 74877.82828977115

# Linear Regression with Time Dummies

In [35]:
sales = df_tr[df_tr['type'].str.contains("Sold")].reset_index(drop=True)
sales = sales.drop(['from', 'to', 'type', 'amount_in_eth'], axis=1)
sales.head()

  punk_id       date  amount_in_dol
0       0 2018-11-30         2822.0
1       0 2017-07-07          386.0
2       0 2017-06-23          320.0
3       1 2020-11-30        36305.0
4       1 2019-04-06         5155.0

In [36]:
file4 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/sales_time_dummie_encoded.csv'
time_dummies = pd.read_csv(file4, index_col = 0)
time_dummies = time_dummies.drop(['date', 'amount_in_dol'], axis = 1)
time_dummies = time_dummies.set_index('punk_id')
time_dummies.reset_index(level=0, inplace=True)
time_dummies.head()

,punk_id,monthyear_12018,monthyear_12019,monthyear_12020,monthyear_12021,monthyear_22018,monthyear_22019,monthyear_22020,monthyear_22021,monthyear_32018,...,monthyear_102019,monthyear_102020,monthyear_112017,monthyear_112018,monthyear_112019,monthyear_112020,monthyear_122017,monthyear_122018,monthyear_122019,monthyear_122020
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df = pd.merge(sales, types_dummies, on="punk_id", how='left')
df = pd.merge(df, acc, on="punk_id", how='left')

df = df.join(time_dummies, on=df.punk_id, how='left', lsuffix='', rsuffix='_')

df = df.set_index(['punk_id', 'date'])
df = df.fillna(0)
df

                    amount_in_dol  Alien  Ape  Female  Male  Zombie  Beanie  \
punk_id date
0       2018-11-30         2822.0      0    0       1     0       0     0.0
        2017-07-07          386.0      0    0       1     0       0     0.0
        2017-06-23          320.0      0    0       1     0       0     0.0
1       2020-11-30        36305.0      0    0       0     1       0     0.0
        2019-04-06         5155.0      0    0       0     1       0     0.0
...                           ...    ...  ...     ...   ...     ...     ...
9990    2021-03-20        44981.0      0    0       0     1       0     0.0
9997    2021-02-08       169770.0      0    0       0     0       1     0.0
        2020-09-27        21062.0      0    0       0     0       1     0.0
9998    2021-03-03        61170.0      0    0       1     0       0     0.0
        2020-12-27         9499.0      0    0       1     0       0     0.0

                    Choker  Pilot Helmet  Tiara  ...  monthyear_102019  \
punk_id date                                     ...
0       2018-11-30     0.0           0.0    0.0  ...                 0
        2017-07-07     0.0           0.0    0.0  ...                 0
        2017-06-23     0.0           0.0    0.0  ...                 0
1       2020-11-30     0.0           0.0    0.0  ...                 0
        2019-04-06     0.0           0.0    0.0  ...                 0
...                    ...           ...    ...  ...               ...
9990    2021-03-20     0.0           0.0    0.0  ...                 0
9997    2021-02-08     0.0           0.0    0.0  ...                 0
        2020-09-27     0.0           0.0    0.0  ...                 0
9998    2021-03-03     0.0           0.0    0.0  ...                 0
        2020-12-27     0.0           0.0    0.0  ...                 0

                    monthyear_102020  monthyear_112017  monthyear_112018  \
punk_id date
0       2018-11-30                 0                 0                 1
        2017-07-07                 0                 0                 1
        2017-06-23                 0                 0                 1
1       2020-11-30                 0                 0                 0
        2019-04-06                 0                 0                 0
...                              ...               ...               ...
9990    2021-03-20                 0                 0                 0
9997    2021-02-08                 0                 0                 0
        2020-09-27                 0                 0                 0
9998    2021-03-03                 0                 0                 0
        2020-12-27                 0                 0                 0

                    monthyear_112019  monthyear_112020  monthyear_122017  \
punk_id date
0       2018-11-30                 0                 0                 0
        2017-07-07                 0                 0                 0
        2017-06-23                 0                 0                 0
1       2020-11-30                 0                 0                 0
        2019-04-06                 0                 0                 0
...                              ...               ...               ...
9990    2021-03-20                 0                 0                 0
9997    2021-02-08                 0                 0                 0
        2020-09-27                 0                 0                 0
9998    2021-03-03                 0                 0                 0
        2020-12-27                 0                 0                 0

                    monthyear_122018  monthyear_122019  monthyear_122020
punk_id date
0       2018-11-30                 0                 0                 0
        2017-07-07                 0                 0                 0
        2017-06-23                 0                 0                 0
1       2020-11-30                 0                 0                 0
        2019-04-06                 0                 0                 0
...                              ...               ...               ...
9990    2021-03-20                 0                 0                 1
9997    2021-02-08                 0                 0                 0
        2020-09-27                 0                 0                 0
9998    2021-03-03                 0                 0                 0
        2020-12-27                 0                 0                 0

[13531 rows x 142 columns]

In [87]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)

In [83]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)
print('Adjusted Rsquared: {}.'.format(1 - (1-regressor.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)))

Adjusted Rsquared: 0.16861154040385729.

In [84]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df = coeff_df.sort_values(by=['Coefficient'], ascending=False)
coeff_df

                  Coefficient
Alien            1.085693e+06
monthyear_42018  1.129006e+05
Orange Side      7.811073e+04
Pigtails         3.771274e+04
3D Glasses       3.732548e+04
...                       ...
monthyear_92018 -1.763981e+04
Ape             -1.556437e+05
Zombie          -2.316629e+05
Female          -3.465963e+05
Male            -3.517896e+05

[141 rows x 1 columns]

In [85]:
y_pred = regressor.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 29378.239067535196
Mean Squared Error: 12821449284.684755
Root Mean Squared Error: 113231.83865276036

# Panel Data Models with Time Dummies

In [38]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

In [39]:
exog = sm.tools.tools.add_constant(X)
exog = exog.astype(int)
endog = y

X_train, X_test, y_train, y_test = train_test_split(exog, endog, test_size=0.3, random_state=888)

model_re = RandomEffects(y_train, X_train, check_rank=False) 
re_res = model_re.fit()
print(re_res)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:          amount_in_dol   R-squared:                        0.1810
Estimator:              RandomEffects   R-squared (Between):              0.1722
No. Observations:                9471   R-squared (Within):               0.0000
Date:                Wed, Jun 30 2021   R-squared (Overall):              0.1810
Time:                        23:08:41   Log-likelihood                -1.211e+05
Cov. Estimator:            Unadjusted
                                        F-statistic:                      14.621
Entities:                        5591   P-value                           0.0000
Avg Obs:                       1.6940   Distribution:                F(141,9329)
Min Obs:                       0.0000
Max Obs:                       13.000   F-statistic (robust):             14.664
                                        P-value                           0.0000
Time periods:                    1035   Distribution:                F(141,9329)
Avg Obs:                       9.1507
Min Obs:                       0.0000
Max Obs:                       232.00

                                  Parameter Estimates
========================================================================================
                      Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------
const                 3.027e+05
Alien                 1.146e+06
Ape                   -9.51e+04
Female               -2.861e+05
Male                 -2.912e+05
Zombie               -1.711e+05
Beanie                3.659e+04  1.307e+04     2.8002     0.0051   1.098e+04   6.221e+04
Choker                1.183e+04   1.41e+04     0.8392     0.4014  -1.581e+04   3.947e+04
Pilot Helmet          2.664e+04  1.538e+04     1.7323     0.0833     -3505.6   5.679e+04
Tiara                  1.99e+04   1.53e+04     1.3008     0.1934  -1.009e+04   4.988e+04
Orange Side           7.811e+04  1.462e+04     5.3413     0.0000   4.944e+04   1.068e+05
Buck Teeth            2.701e+04  1.274e+04     2.1192     0.0341      2025.7   5.199e+04
Welding Goggles       2.074e+04  1.298e+04     1.5979     0.1101     -4702.7   4.618e+04
Pigtails              3.771e+04  1.288e+04     2.9291     0.0034   1.247e+04   6.295e+04
Pink With Hat         2.781e+04  1.259e+04     2.2087     0.0272      3129.1   5.249e+04
Top Hat               2.269e+04  1.135e+04     1.9992     0.0456      442.18   4.493e+04
Spots                    2931.5     9295.9     0.3154     0.7525  -1.529e+04   2.115e+04
Rosy Cheeks              4196.9     7863.9     0.5337     0.5936  -1.122e+04   1.961e+04
Blonde Short          1.402e+04  1.238e+04     1.1321     0.2576  -1.026e+04   3.829e+04
Wild White Hair          3830.6  1.132e+04     0.3383     0.7351  -1.836e+04   2.602e+04
Cowboy Hat               6936.7  1.039e+04     0.6675     0.5045  -1.343e+04   2.731e+04
Wild Blonde           2.055e+04  1.312e+04     1.5665     0.1173     -5165.3   4.627e+04
Straight Hair Blonde     6367.8  1.171e+04     0.5440     0.5865  -1.658e+04   2.931e+04
Big Beard                8202.9     7990.7     1.0266     0.3047     -7460.6   2.387e+04
Red Mohawk               4291.7     9907.7     0.4332     0.6649  -1.513e+04   2.371e+04
Half Shaved              5636.9  1.126e+04     0.5006     0.6167  -1.644e+04   2.771e+04
Blonde Bob               4629.3  1.144e+04     0.4047     0.6857  -1.779e+04   2.705e+04
Vampire Hair             6990.6     8777.0     0.7965     0.4258  -1.021e+04    2.42e+04
Clown Hair Green         9253.4  1.002e+04     0.9233     0.3559  -1.039e+04    2.89e+04
Straight Hair Dark       3684.7  1.129e+04     0.3263     0.7442  -1.845e+04   2.582e+04
Straight Hair           -2370.7  1.038e+04    -0.2284     0.8193  -2.272e+04   1.797e+04
Silver Chain             7891.6     6609.9     1.1939     0.2325     -5065.2   2.085e+04
Dark Hair                5055.6     9815.7     0.5151     0.6065  -1.419e+04    2.43e+04
Purple Hair              5636.5     9607.4     0.5867     0.5574   -1.32e+04   2.447e+04
Gold Chain               4597.2     8283.2     0.5550     0.5789  -1.164e+04   2.083e+04
Medical Mask            -8089.6     7207.3    -1.1224     0.2617  -2.222e+04      6038.2
Tassle Hat               4912.7  1.027e+04     0.4781     0.6326  -1.523e+04   2.505e+04
Fedora                   4424.8     8839.2     0.5006     0.6167   -1.29e+04   2.175e+04
Police Cap              -324.71     8355.1    -0.0389     0.9690   -1.67e+04   1.605e+04
Clown Nose              -1903.9     6584.3    -0.2892     0.7725  -1.481e+04     1.1e+04
Smile                 1.474e+04     6334.1     2.3269     0.0200      2322.6   2.715e+04
Cap Forward            1.91e+04     7260.2     2.6303     0.0085      4864.8   3.333e+04
Hoodie                3.621e+04     9005.3     4.0206     0.0001   1.855e+04   5.386e+04
Front Beard Dark        -1739.8     6889.0    -0.2525     0.8006  -1.524e+04   1.176e+04
Frown                    8064.2     5164.1     1.5616     0.1184     -2058.5   1.819e+04
Purple Eye Shadow        1039.8     6180.5     0.1682     0.8664  -1.108e+04   1.315e+04
Handlebars              -2357.1     5339.6    -0.4414     0.6589  -1.282e+04      8109.7
Blue Eye Shadow         -1102.7     6185.9    -0.1783     0.8585  -1.323e+04   1.102e+04
Green Eye Shadow         4289.2     6917.7     0.6200     0.5353     -9271.1   1.785e+04
Vape                     7584.1     6544.7     1.1588     0.2466     -5245.0   2.041e+04
Front Beard              1772.9     5318.3     0.3334     0.7389     -8652.2    1.22e+04
Chinstrap                2929.4     5120.7     0.5721     0.5673     -7108.2   1.297e+04
3D Glasses            3.733e+04     6926.9     5.3885     0.0000   2.375e+04    5.09e+04
Luxurious Beard       1.155e+04     6577.7     1.7561     0.0791     -1342.4   2.444e+04
Mustache                 3621.9     5208.9     0.6953     0.4869     -6588.7   1.383e+04
Normal Beard Black      -3810.9     7393.5    -0.5154     0.6063   -1.83e+04   1.068e+04
Normal Beard             6112.1     5154.6     1.1858     0.2357     -3991.9   1.622e+04
Eye Mask                -1167.2     5493.7    -0.2125     0.8318  -1.194e+04      9601.7
Goat                     804.53     5238.5     0.1536     0.8779     -9464.0   1.107e+04
Do-rag                  -8989.0     7735.4    -1.1621     0.2452  -2.415e+04      6174.0
Shaved Head             -2367.8     7678.0    -0.3084     0.7578  -1.742e+04   1.268e+04
Muttonchops             -875.90     4981.8    -0.1758     0.8604  -1.064e+04      8889.6
Peak Spike              -3484.6     8077.6    -0.4314     0.6662  -1.932e+04   1.235e+04
Pipe                  3.048e+04     5331.6     5.7165     0.0000   2.003e+04   4.093e+04
VR                    1.269e+04     5508.7     2.3032     0.0213      1889.4   2.349e+04
Cap                     -534.29     7912.2    -0.0675     0.9462  -1.604e+04   1.498e+04
Small Shades          1.817e+04     4627.2     3.9262     0.0001      9096.9   2.724e+04
Clown Eyes Green         1996.5     5077.1     0.3932     0.6942     -7955.8   1.195e+04
Clown Eyes Blue          2204.0     5037.5     0.4375     0.6617     -7670.7   1.208e+04
Headband                -5365.1     7592.8    -0.7066     0.4798  -2.025e+04      9518.4
Crazy Hair               5461.8     8039.9     0.6793     0.4969   -1.03e+04   2.122e+04
Knitted Cap             -1994.2     6466.7    -0.3084     0.7578  -1.467e+04   1.068e+04
Mohawk Dark              19.907     5987.9     0.0033     0.9973  -1.172e+04   1.176e+04
Mohawk                  -1860.2     7508.8    -0.2477     0.8043  -1.658e+04   1.286e+04
Mohawk Thin             -1410.0     5760.7    -0.2448     0.8067   -1.27e+04      9882.3
Frumpy Hair             -2358.1     7537.5    -0.3128     0.7544  -1.713e+04   1.242e+04
Wild Hair                1409.2     7610.4     0.1852     0.8531  -1.351e+04   1.633e+04
Messy Hair              -2705.3     7537.1    -0.3589     0.7197  -1.748e+04   1.207e+04
Eye Patch                856.28     4326.6     0.1979     0.8431     -7624.9      9337.4
Stringy Hair            -5899.8     7261.4    -0.8125     0.4165  -2.013e+04      8334.2
Bandana                 -1895.2     7254.5    -0.2612     0.7939  -1.612e+04   1.233e+04
Classic Shades           6066.9     4076.6     1.4882     0.1367     -1924.2   1.406e+04
Shadow Beard            -266.63     4193.2    -0.0636     0.9493     -8486.1      7952.9
Regular Shades           1146.5     4171.9     0.2748     0.7835     -7031.4      9324.3
Horned Rim Glasses       2179.8     4250.5     0.5128     0.6081     -6152.1   1.051e+04
Big Shades               7815.6     4209.4     1.8567     0.0634     -435.67   1.607e+04
Nerd Glasses             9548.6     4190.0     2.2789     0.0227      1335.3   1.776e+04
Black Lipstick          -406.38     4539.0    -0.0895     0.9287     -9303.9      8491.1
Mole                     1954.7     3428.7     0.5701     0.5686     -4766.3      8675.6
Purple Lipstick          3068.0     4591.6     0.6682     0.5040     -5932.5   1.207e+04
Hot Lipstick             2624.9     4574.3     0.5738     0.5661     -6341.7   1.159e+04
Cigarette                5161.6     3179.3     1.6235     0.1045     -1070.5   1.139e+04
Earring                  1183.5     2116.4     0.5592     0.5760     -2965.1      5332.1
punk_id_                -1.2437     0.5384    -2.3098     0.0209     -2.2992     -0.1882
monthyear_12018       1.441e+04  7.827e+10  1.841e-07     1.0000  -1.534e+11   1.534e+11
monthyear_12019          5474.1  7.827e+10  6.994e-08     1.0000  -1.534e+11   1.534e+11
monthyear_12020          3314.0  7.827e+10  4.234e-08     1.0000  -1.534e+11   1.534e+11
monthyear_12021          7621.1  7.827e+10  9.736e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22018         -6464.8  7.827e+10 -8.259e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22019          1986.8  7.827e+10  2.538e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22020         -6635.6  7.827e+10 -8.477e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22021          4324.6  7.827e+10  5.525e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32018         -7015.6  7.827e+10 -8.963e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32019          1511.1  7.827e+10  1.931e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32020          5226.6  7.827e+10  6.677e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32021          4626.9  7.827e+10  5.911e-08     1.0000  -1.534e+11   1.534e+11
monthyear_42018       1.192e+05  7.827e+10  1.523e-06     1.0000  -1.534e+11   1.534e+11
monthyear_42019       2.565e+04  7.827e+10  3.277e-07     1.0000  -1.534e+11   1.534e+11
monthyear_42020          4305.1  7.827e+10    5.5e-08     1.0000  -1.534e+11   1.534e+11
monthyear_42021          4237.4  7.827e+10  5.414e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52018         -1553.7  7.827e+10 -1.985e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52019          3367.7  7.827e+10  4.302e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52020          6776.9  7.827e+10  8.658e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52021          6145.5  7.827e+10  7.851e-08     1.0000  -1.534e+11   1.534e+11
monthyear_62017          1884.1  7.827e+10  2.407e-08     1.0000  -1.534e+11   1.534e+11
monthyear_62018       1.109e+04  7.827e+10  1.417e-07     1.0000  -1.534e+11   1.534e+11
monthyear_62019          1667.1  7.827e+10   2.13e-08     1.0000  -1.534e+11   1.534e+11
monthyear_62020       2.618e+04  7.827e+10  3.345e-07     1.0000  -1.534e+11   1.534e+11
monthyear_72017          4358.1  7.827e+10  5.568e-08     1.0000  -1.534e+11   1.534e+11
monthyear_72018         -9017.0  7.827e+10 -1.152e-07     1.0000  -1.534e+11   1.534e+11
monthyear_72019       1.509e+04  7.827e+10  1.928e-07     1.0000  -1.534e+11   1.534e+11
monthyear_72020         -8143.4  7.827e+10  -1.04e-07     1.0000  -1.534e+11   1.534e+11
monthyear_82017         -7978.7  7.827e+10 -1.019e-07     1.0000  -1.534e+11   1.534e+11
monthyear_82018          9067.7  7.827e+10  1.158e-07     1.0000  -1.534e+11   1.534e+11
monthyear_82019          4632.2  7.827e+10  5.918e-08     1.0000  -1.534e+11   1.534e+11
monthyear_82020          5029.7  7.827e+10  6.426e-08     1.0000  -1.534e+11   1.534e+11
monthyear_92017       1.477e+04  7.827e+10  1.887e-07     1.0000  -1.534e+11   1.534e+11
monthyear_92018      -1.133e+04  7.827e+10 -1.448e-07     1.0000  -1.534e+11   1.534e+11
monthyear_92019         -653.58  7.827e+10  -8.35e-09     1.0000  -1.534e+11   1.534e+11
monthyear_92020          6546.6  7.827e+10  8.364e-08     1.0000  -1.534e+11   1.534e+11
monthyear_102017         1580.5  7.827e+10  2.019e-08     1.0000  -1.534e+11   1.534e+11
monthyear_102018         85.393  7.827e+10  1.091e-09     1.0000  -1.534e+11   1.534e+11
monthyear_102019        -6923.9  7.827e+10 -8.846e-08     1.0000  -1.534e+11   1.534e+11
monthyear_102020         6067.7  7.827e+10  7.752e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112017         5836.1  7.827e+10  7.456e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112018        -1728.1  7.827e+10 -2.208e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112019         4963.0  7.827e+10  6.341e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112020         4964.4  7.827e+10  6.342e-08     1.0000  -1.534e+11   1.534e+11
monthyear_122017         3950.5  7.827e+10  5.047e-08     1.0000  -1.534e+11   1.534e+11
monthyear_122018         6983.7  7.827e+10  8.922e-08     1.0000  -1.534e+11   1.534e+11
monthyear_122019         9107.2  7.827e+10  1.164e-07     1.0000  -1.534e+11   1.534e+11
monthyear_122020         8115.4  7.827e+10  1.037e-07     1.0000  -1.534e+11   1.534e+11
========================================================================================

In [40]:
y_pred = re_res.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 29378.239067534963
Mean Squared Error: 12821449284.684647
Root Mean Squared Error: 113231.83865275988