In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import datetime
from scipy import stats
import requests
from requests import get
from bs4 import BeautifulSoup
import xgboost as xgb
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from numpy import absolute
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from linearmodels import PooledOLS
import statsmodels.api as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects

In [55]:
df_tr = pd.read_csv('transaction.csv', header = None, index_col = 0)
df_tr.columns = ['type', 'from', 'to', 'date', 'punk_id', 'amount_in_eth', 'amount_in_dol']
df_tr = df_tr[ ['punk_id'] + [ col for col in df_tr.columns if col != 'punk_id' ] ]
df_tr.head()

,punk_id,type,from,to,date,amount_in_eth,amount_in_dol
0,,,,,,,
0,0,Bid Withdrawn,0x983ace,NaN,2021-05-10,250.0,1030000.0
1,0,Bid,0x983ace,NaN,2021-04-11,250.0,"537,615"
2,0,Bid Withdrawn,0xd7510a,NaN,2021-03-03,100.0,"160,973"
3,0,Bid,0xd7510a,NaN,2021-02-20,100.0,"188,897"
4,0,Bid Withdrawn,natealex,NaN,2020-09-16,69.0,"25,532"

In [56]:
def fix_df(x):
    x['punk_id'] = x['punk_id'].astype('category')
    x['type'] = x['type'].astype('category')
    x['from'] = x['from'].astype(str)
    x['to'] = x['to'].astype(str)
    x['date'] = pd.to_datetime(x['date'], format = '%Y.%m.%d')
    
    x['amount_in_eth'] = x['amount_in_eth'].astype(str)
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Y', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Z', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('M', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('T', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('B', '')
    x['amount_in_eth'] = x['amount_in_eth'].replace(',', '', regex=True)
    x['amount_in_eth'] = x['amount_in_eth'].astype(float)

    x['amount_in_dol'] = x['amount_in_dol'].astype(str)
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Y', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('B', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('T', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('P', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Z', '')
    x['amount_in_dol'] = x['amount_in_dol'].replace('<', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].replace(',', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].astype(float)
    
    x['amount_in_eth'] = x['amount_in_eth'].fillna(0)
    x['amount_in_dol'] = x['amount_in_dol'].fillna(0)

    return x

In [57]:
df_tr = fix_df(df_tr)
df_tr.head()

,punk_id,type,from,to,date,amount_in_eth,amount_in_dol
0,,,,,,,
0,0,Bid Withdrawn,0x983ace,nan,2021-05-10,250.0,1030000.0
1,0,Bid,0x983ace,nan,2021-04-11,250.0,537615.0
2,0,Bid Withdrawn,0xd7510a,nan,2021-03-03,100.0,160973.0
3,0,Bid,0xd7510a,nan,2021-02-20,100.0,188897.0
4,0,Bid Withdrawn,natealex,nan,2020-09-16,69.0,25532.0

In [58]:
sales = df_tr[df_tr['type'].str.contains("Sold")].reset_index(drop=True)
sales = sales.drop(['from', 'to', 'type', 'amount_in_eth'], axis=1)

In [59]:
df_acc = pd.read_csv('accessories.csv', header=None, sep='\n')
df_acc = df_acc[0].str.split(',', expand=True)
df_acc.drop(0, axis=1, inplace=True)

dict={1:'gender', 
      2:  'acc_1',
      3:'acc_2', 
      4: 'acc_3',
      5:'acc_4',
      6: 'acc_5',
      7:'acc_6',
      8:'acc_7'}
df_acc.rename(columns=dict,
          inplace=True)
  
df_acc.head()

   gender             acc_1         acc_2       acc_3 acc_4 acc_5 acc_6 acc_7
0  Female  Green Eye Shadow       Earring  Blonde Bob  None  None  None  None
1    Male             Smile        Mohawk        None  None  None  None  None
2  Female         Wild Hair          None        None  None  None  None  None
3    Male         Wild Hair  Nerd Glasses        Pipe  None  None  None  None
4    Male        Big Shades     Wild Hair     Earring  Goat  None  None  None

In [60]:
types = df_acc['gender']
types_dummies = pd.get_dummies(types)
types_dummies['punk_id'] = types_dummies.index
types_dummies = types_dummies[ ['punk_id'] + [ col for col in types_dummies.columns if col != 'punk_id' ] ]

In [61]:
acc = pd.read_csv('accessories_transformed_full.csv', index_col = 0)
acc['punk_id'] = acc.index
acc = acc[ ['punk_id'] + [ col for col in acc.columns if col != 'punk_id' ] ]

In [62]:
df = pd.merge(sales, types_dummies, on="punk_id", how='left')
df = pd.merge(df, acc, on="punk_id", how='left')
df = df.set_index(['punk_id', 'date'])
df = df.fillna(0)
df

                    amount_in_dol  Alien  Ape  Female  Male  Zombie  Beanie  \
punk_id date
0       2018-11-30         2822.0      0    0       1     0       0     0.0
        2017-07-07          386.0      0    0       1     0       0     0.0
        2017-06-23          320.0      0    0       1     0       0     0.0
1       2020-11-30        36305.0      0    0       0     1       0     0.0
        2019-04-06         5155.0      0    0       0     1       0     0.0
...                           ...    ...  ...     ...   ...     ...     ...
9990    2021-03-20        44981.0      0    0       0     1       0     0.0
9997    2021-02-08       169770.0      0    0       0     0       1     0.0
        2020-09-27        21062.0      0    0       0     0       1     0.0
9998    2021-03-03        61170.0      0    0       1     0       0     0.0
        2020-12-27         9499.0      0    0       1     0       0     0.0

                    Choker  Pilot Helmet  Tiara  ...  Regular Shades  \
punk_id date                                     ...
0       2018-11-30     0.0           0.0    0.0  ...             0.0
        2017-07-07     0.0           0.0    0.0  ...             0.0
        2017-06-23     0.0           0.0    0.0  ...             0.0
1       2020-11-30     0.0           0.0    0.0  ...             0.0
        2019-04-06     0.0           0.0    0.0  ...             0.0
...                    ...           ...    ...  ...             ...
9990    2021-03-20     0.0           0.0    0.0  ...             0.0
9997    2021-02-08     0.0           0.0    0.0  ...             0.0
        2020-09-27     0.0           0.0    0.0  ...             0.0
9998    2021-03-03     0.0           0.0    0.0  ...             0.0
        2020-12-27     0.0           0.0    0.0  ...             0.0

                    Horned Rim Glasses  Big Shades  Nerd Glasses  \
punk_id date
0       2018-11-30                 0.0         0.0           0.0
        2017-07-07                 0.0         0.0           0.0
        2017-06-23                 0.0         0.0           0.0
1       2020-11-30                 0.0         0.0           0.0
        2019-04-06                 0.0         0.0           0.0
...                                ...         ...           ...
9990    2021-03-20                 1.0         0.0           0.0
9997    2021-02-08                 0.0         0.0           0.0
        2020-09-27                 0.0         0.0           0.0
9998    2021-03-03                 0.0         0.0           0.0
        2020-12-27                 0.0         0.0           0.0

                    Black Lipstick  Mole  Purple Lipstick  Hot Lipstick  \
punk_id date
0       2018-11-30             0.0   0.0              0.0           0.0
        2017-07-07             0.0   0.0              0.0           0.0
        2017-06-23             0.0   0.0              0.0           0.0
1       2020-11-30             0.0   0.0              0.0           0.0
        2019-04-06             0.0   0.0              0.0           0.0
...                            ...   ...              ...           ...
9990    2021-03-20             0.0   0.0              0.0           0.0
9997    2021-02-08             0.0   0.0              0.0           0.0
        2020-09-27             0.0   0.0              0.0           0.0
9998    2021-03-03             1.0   0.0              0.0           0.0
        2020-12-27             1.0   0.0              0.0           0.0

                    Cigarette  Earring
punk_id date
0       2018-11-30        0.0      1.0
        2017-07-07        0.0      1.0
        2017-06-23        0.0      1.0
1       2020-11-30        0.0      0.0
        2019-04-06        0.0      0.0
...                       ...      ...
9990    2021-03-20        0.0      0.0
9997    2021-02-08        0.0      0.0
        2020-09-27        0.0      0.0
9998    2021-03-03        0.0      0.0
        2020-12-27        0.0      0.0

[13531 rows x 93 columns]

In [41]:
y = df['amount_in_dol']
X = df.iloc[:,1:]
X = X.astype(int)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)

In [44]:
exog = sm.tools.tools.add_constant(X_train.loc[:, X_train.columns != 'Male']) #To get a full rank matrix
exog = exog.astype(int)
endog = y_train
model_re = RandomEffects(endog, exog) 
re_res = model_re.fit()
print(re_res)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:          amount_in_dol   R-squared:                        0.1723
Estimator:              RandomEffects   R-squared (Between):              0.1531
No. Observations:                9471   R-squared (Within):               0.0000
Date:                Thu, Jun 24 2021   R-squared (Overall):              0.1723
Time:                        17:58:12   Log-likelihood                -1.211e+05
Cov. Estimator:            Unadjusted
                                        F-statistic:                      21.449
Entities:                        5591   P-value                           0.0000
Avg Obs:                       1.6940   Distribution:                 F(91,9379)
Min Obs:                       0.0000
Max Obs:                       13.000   F-statistic (robust):             21.449
                                        P-value                           0.0000
Time periods:                    1035   Distribution:                 F(91,9379)
Avg Obs:                       9.1507
Min Obs:                       0.0000
Max Obs:                       232.00

                                  Parameter Estimates
========================================================================================
                      Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------
const                 1.259e+04     6783.3     1.8564     0.0634     -704.37   2.589e+04
Alien                  1.48e+06  3.927e+04     37.695     0.0000   1.403e+06   1.557e+06
Ape                   1.968e+05  1.838e+04     10.706     0.0000   1.607e+05   2.328e+05
Female                   4719.7     3662.9     1.2885     0.1976     -2460.4    1.19e+04
Zombie                1.212e+05  1.106e+04     10.961     0.0000   9.953e+04   1.429e+05
Beanie                3.435e+04  1.304e+04     2.6333     0.0085      8780.4   5.992e+04
Choker                2.338e+04  1.403e+04     1.6659     0.0958     -4130.5   5.088e+04
Pilot Helmet          2.637e+04  1.536e+04     1.7165     0.0861     -3744.2   5.649e+04
Tiara                 1.789e+04  1.528e+04     1.1707     0.2417  -1.207e+04   4.785e+04
Orange Side           7.495e+04  1.457e+04     5.1459     0.0000    4.64e+04   1.035e+05
Buck Teeth            2.508e+04  1.274e+04     1.9691     0.0490      112.74   5.005e+04
Welding Goggles       2.037e+04   1.29e+04     1.5789     0.1144     -4918.1   4.565e+04
Pigtails              3.872e+04  1.284e+04     3.0157     0.0026   1.355e+04    6.39e+04
Pink With Hat         2.723e+04  1.254e+04     2.1715     0.0299      2649.4    5.18e+04
Top Hat                2.18e+04  1.134e+04     1.9222     0.0546     -431.56   4.403e+04
Spots                    1823.5     9242.5     0.1973     0.8436  -1.629e+04   1.994e+04
Rosy Cheeks              3080.0     7809.9     0.3944     0.6933  -1.223e+04   1.839e+04
Blonde Short          1.227e+04  1.237e+04     0.9926     0.3209  -1.197e+04   3.651e+04
Wild White Hair          3509.0  1.129e+04     0.3107     0.7560  -1.863e+04   2.565e+04
Cowboy Hat               6448.7   1.03e+04     0.6259     0.5314  -1.375e+04   2.665e+04
Wild Blonde           1.956e+04  1.309e+04     1.4937     0.1353     -6108.2   4.522e+04
Straight Hair Blonde     5153.4  1.168e+04     0.4414     0.6589  -1.773e+04   2.804e+04
Big Beard                6944.1     7966.1     0.8717     0.3834     -8671.2   2.256e+04
Red Mohawk               4637.0     9889.7     0.4689     0.6392  -1.475e+04   2.402e+04
Half Shaved              4799.8  1.121e+04     0.4280     0.6686  -1.718e+04   2.678e+04
Blonde Bob               6241.6  1.142e+04     0.5465     0.5847  -1.614e+04   2.863e+04
Vampire Hair             6366.0     8752.4     0.7273     0.4670  -1.079e+04   2.352e+04
Clown Hair Green      1.061e+04  1.002e+04     1.0588     0.2897     -9029.7   3.024e+04
Straight Hair Dark       3200.8  1.127e+04     0.2841     0.7764  -1.889e+04   2.529e+04
Straight Hair           -1932.1  1.036e+04    -0.1865     0.8521  -2.224e+04   1.838e+04
Silver Chain             6291.3     6579.1     0.9563     0.3390     -6605.1   1.919e+04
Dark Hair                4003.1     9794.2     0.4087     0.6828   -1.52e+04    2.32e+04
Purple Hair              4527.3     9576.6     0.4727     0.6364  -1.424e+04    2.33e+04
Gold Chain               3198.3     8254.8     0.3874     0.6984  -1.298e+04   1.938e+04
Medical Mask            -9357.1     7199.4    -1.2997     0.1937  -2.347e+04      4755.2
Tassle Hat               3606.3  1.025e+04     0.3518     0.7250  -1.649e+04    2.37e+04
Fedora                   3359.0     8822.4     0.3807     0.7034  -1.393e+04   2.065e+04
Police Cap               341.03     8327.1     0.0410     0.9673  -1.598e+04   1.666e+04
Clown Nose              -3169.4     6541.0    -0.4845     0.6280  -1.599e+04      9652.5
Smile                 1.345e+04     6297.8     2.1354     0.0328      1103.1   2.579e+04
Cap Forward           1.978e+04     7235.7     2.7343     0.0063      5600.7   3.397e+04
Hoodie                3.507e+04     8989.3     3.9016     0.0001   1.745e+04   5.269e+04
Front Beard Dark        -1188.7     6833.7    -0.1739     0.8619  -1.458e+04   1.221e+04
Frown                    6981.2     5129.3     1.3610     0.1735     -3073.4   1.704e+04
Purple Eye Shadow        263.08     6162.4     0.0427     0.9659  -1.182e+04   1.234e+04
Handlebars              -2527.1     5298.3    -0.4770     0.6334  -1.291e+04      7858.7
Blue Eye Shadow         -1638.6     6134.4    -0.2671     0.7894  -1.366e+04   1.039e+04
Green Eye Shadow         4312.6     6885.4     0.6263     0.5311     -9184.3   1.781e+04
Vape                     6581.1     6523.6     1.0088     0.3131     -6206.5   1.937e+04
Front Beard              62.008     5278.5     0.0117     0.9906  -1.029e+04   1.041e+04
Chinstrap                2493.2     5091.2     0.4897     0.6243     -7486.6   1.247e+04
3D Glasses            3.726e+04     6906.3     5.3947     0.0000   2.372e+04    5.08e+04
Luxurious Beard       1.014e+04     6540.3     1.5505     0.1211     -2679.7   2.296e+04
Mustache                 3397.4     5154.0     0.6592     0.5098     -6705.5    1.35e+04
Normal Beard Black      -5733.2     7357.5    -0.7792     0.4359  -2.016e+04      8689.1
Normal Beard             7855.2     5127.1     1.5321     0.1255     -2195.0   1.791e+04
Eye Mask                -1686.4     5458.0    -0.3090     0.7573  -1.239e+04      9012.4
Goat                     524.41     5212.1     0.1006     0.9199     -9692.4   1.074e+04
Do-rag                  -9241.9     7716.0    -1.1978     0.2310  -2.437e+04      5883.2
Shaved Head             -2292.1     7639.1    -0.3000     0.7641  -1.727e+04   1.268e+04
Muttonchops              186.97     4947.6     0.0378     0.9699     -9511.5      9885.4
Peak Spike              -4196.6     8064.4    -0.5204     0.6028      -2e+04   1.161e+04
Pipe                  3.098e+04     5301.1     5.8432     0.0000   2.058e+04   4.137e+04
VR                    1.447e+04     5482.2     2.6396     0.0083      3724.3   2.522e+04
Cap                     -1726.3     7892.6    -0.2187     0.8269   -1.72e+04   1.374e+04
Small Shades          1.659e+04     4585.0     3.6194     0.0003      7607.3   2.558e+04
Clown Eyes Green         815.01     5040.9     0.1617     0.8716     -9066.3    1.07e+04
Clown Eyes Blue          1491.4     5004.9     0.2980     0.7657     -8319.3    1.13e+04
Headband                -4495.5     7584.3    -0.5927     0.5534  -1.936e+04   1.037e+04
Crazy Hair               5675.1     8015.0     0.7081     0.4789  -1.004e+04   2.139e+04
Knitted Cap             -714.45     6432.3    -0.1111     0.9116  -1.332e+04   1.189e+04
Mohawk Dark             -171.70     5971.2    -0.0288     0.9771  -1.188e+04   1.153e+04
Mohawk                  -2186.2     7502.8    -0.2914     0.7708  -1.689e+04   1.252e+04
Mohawk Thin             -2095.4     5738.5    -0.3652     0.7150  -1.334e+04      9153.3
Frumpy Hair             -1165.9     7521.1    -0.1550     0.8768  -1.591e+04   1.358e+04
Wild Hair                2076.4     7597.0     0.2733     0.7846  -1.282e+04   1.697e+04
Messy Hair              -2967.7     7522.3    -0.3945     0.6932  -1.771e+04   1.178e+04
Eye Patch                260.90     4309.7     0.0605     0.9517     -8187.1      8708.9
Stringy Hair            -5766.3     7243.8    -0.7960     0.4260  -1.997e+04      8433.2
Bandana                 -1423.3     7245.0    -0.1965     0.8443  -1.562e+04   1.278e+04
Classic Shades           5517.9     4052.8     1.3615     0.1734     -2426.6   1.346e+04
Shadow Beard            -532.05     4164.1    -0.1278     0.8983     -8694.6      7630.5
Regular Shades           435.75     4145.2     0.1051     0.9163     -7689.8      8561.3
Horned Rim Glasses       1269.6     4232.7     0.2999     0.7642     -7027.4      9566.5
Big Shades               6435.0     4171.5     1.5426     0.1230     -1742.1   1.461e+04
Nerd Glasses             9359.5     4171.2     2.2439     0.0249      1183.1   1.754e+04
Black Lipstick           55.360     4517.2     0.0123     0.9902     -8799.4      8910.1
Mole                     1508.2     3403.3     0.4432     0.6577     -5163.0      8179.3
Purple Lipstick          3634.2     4570.3     0.7952     0.4265     -5324.6   1.259e+04
Hot Lipstick             2184.9     4557.2     0.4794     0.6316     -6748.1   1.112e+04
Cigarette                4038.8     3149.7     1.2823     0.1998     -2135.4   1.021e+04
Earring                  1204.0     2100.6     0.5732     0.5665     -2913.6      5321.7
========================================================================================

In [188]:
y_pred = re_res.predict(X_test)
y_pred

                      predictions
punk_id date
3826    2020-09-24   20517.769356
1163    2021-05-03  223867.220361
4271    2021-04-08   18606.461575
1719    2021-03-12   33341.168247
9417    2017-11-26  227985.175489
...                           ...
9749    2021-02-08   41823.845059
9155    2020-08-04   17737.813645
5561    2018-01-23   28295.520854
6115    2021-04-22  198048.763309
3028    2020-10-16    3025.269057

[4060 rows x 1 columns]

In [190]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 76214.79791353409
Mean Squared Error: 30269493994.913723
Root Mean Squared Error: 173981.30357861365

In [51]:
model2  = PanelOLS(endog, exog, time_effects=True)
pols = model2.fit()
print(pols)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:          amount_in_dol   R-squared:                        0.2180
Estimator:                   PanelOLS   R-squared (Between):              0.1201
No. Observations:                9471   R-squared (Within):               0.0000
Date:                Thu, Jun 24 2021   R-squared (Overall):              0.1658
Time:                        18:02:20   Log-likelihood                -1.202e+05
Cov. Estimator:            Unadjusted
                                        F-statistic:                      25.845
Entities:                        5591   P-value                           0.0000
Avg Obs:                       1.6940   Distribution:                 F(91,8437)
Min Obs:                       0.0000
Max Obs:                       13.000   F-statistic (robust):             25.845
                                        P-value                           0.0000
Time periods:                    1035   Distribution:                 F(91,8437)
Avg Obs:                       9.1507
Min Obs:                       0.0000
Max Obs:                       232.00

                                  Parameter Estimates
========================================================================================
                      Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------
const                 2.077e+04     6984.9     2.9733     0.0030      7076.0   3.446e+04
Alien                 1.622e+06  3.926e+04     41.301     0.0000   1.545e+06   1.699e+06
Ape                    2.46e+05  1.866e+04     13.185     0.0000   2.094e+05   2.826e+05
Female                   1884.9     3749.2     0.5028     0.6151     -5464.3      9234.2
Zombie                1.597e+05  1.166e+04     13.695     0.0000   1.369e+05   1.826e+05
Beanie                4.751e+04  1.367e+04     3.4757     0.0005   2.072e+04   7.431e+04
Choker                2.234e+04  1.416e+04     1.5781     0.1146     -5410.8    5.01e+04
Pilot Helmet           4.11e+04   1.69e+04     2.4323     0.0150      7976.4   7.422e+04
Tiara                 3.446e+04  1.569e+04     2.1967     0.0281      3709.7   6.521e+04
Orange Side           6.581e+04  1.492e+04     4.4100     0.0000   3.656e+04   9.506e+04
Buck Teeth            2.444e+04  1.333e+04     1.8334     0.0668     -1691.4   5.057e+04
Welding Goggles       3.202e+04  1.315e+04     2.4339     0.0150      6230.7    5.78e+04
Pigtails              2.495e+04  1.307e+04     1.9082     0.0564     -680.96   5.058e+04
Pink With Hat         1.642e+04  1.273e+04     1.2900     0.1971     -8530.8   4.137e+04
Top Hat               1.463e+04  1.152e+04     1.2700     0.2041     -7948.7    3.72e+04
Spots                    6419.0     9483.6     0.6769     0.4985  -1.217e+04   2.501e+04
Rosy Cheeks              9464.9     8055.4     1.1750     0.2400     -6325.7   2.526e+04
Blonde Short            -5390.0  1.257e+04    -0.4288     0.6681  -3.003e+04   1.925e+04
Wild White Hair         -1385.2  1.169e+04    -0.1185     0.9057   -2.43e+04   2.153e+04
Cowboy Hat               4126.3  1.073e+04     0.3846     0.7006  -1.691e+04   2.516e+04
Wild Blonde           1.991e+04  1.374e+04     1.4487     0.1475     -7031.6   4.685e+04
Straight Hair Blonde  1.469e+04  1.188e+04     1.2371     0.2161     -8588.3   3.798e+04
Big Beard             1.184e+04     8108.4     1.4601     0.1443     -4055.0   2.773e+04
Red Mohawk               7092.9  1.015e+04     0.6988     0.4847  -1.281e+04   2.699e+04
Half Shaved             -4436.5  1.131e+04    -0.3922     0.6949  -2.661e+04   1.774e+04
Blonde Bob               4880.5  1.157e+04     0.4217     0.6733  -1.781e+04   2.757e+04
Vampire Hair             2213.9     9148.0     0.2420     0.8088  -1.572e+04   2.015e+04
Clown Hair Green         6090.9   1.03e+04     0.5912     0.5544  -1.411e+04   2.629e+04
Straight Hair Dark       4730.9  1.136e+04     0.4166     0.6770  -1.753e+04   2.699e+04
Straight Hair        -1.365e+04  1.062e+04    -1.2847     0.1989  -3.447e+04      7176.3
Silver Chain             6752.7     6739.4     1.0020     0.3164     -6458.1   1.996e+04
Dark Hair            -1.358e+04     9919.9    -1.3688     0.1711  -3.302e+04      5867.2
Purple Hair             -6089.3     9733.9    -0.6256     0.5316  -2.517e+04   1.299e+04
Gold Chain            1.489e+04     8808.5     1.6910     0.0909     -2371.9   3.216e+04
Medical Mask            -3669.3     7504.3    -0.4890     0.6249  -1.838e+04   1.104e+04
Tassle Hat              -3987.8   1.05e+04    -0.3797     0.7042  -2.458e+04    1.66e+04
Fedora                  -1012.2     9005.5    -0.1124     0.9105  -1.867e+04   1.664e+04
Police Cap               1187.5     8471.7     0.1402     0.8885  -1.542e+04   1.779e+04
Clown Nose               2107.6     6839.9     0.3081     0.7580   -1.13e+04   1.552e+04
Smile                 1.493e+04     6434.2     2.3208     0.0203      2319.8   2.755e+04
Cap Forward           1.579e+04     7267.4     2.1726     0.0298      1543.2   3.003e+04
Hoodie                2.504e+04     9213.9     2.7176     0.0066      6977.9    4.31e+04
Front Beard Dark         183.60     6841.0     0.0268     0.9786  -1.323e+04   1.359e+04
Frown                 1.081e+04     5190.1     2.0827     0.0373      635.38   2.098e+04
Purple Eye Shadow       -856.34     6255.3    -0.1369     0.8911  -1.312e+04   1.141e+04
Handlebars               1376.3     5338.6     0.2578     0.7966     -9088.7   1.184e+04
Blue Eye Shadow         -92.508     6259.6    -0.0148     0.9882  -1.236e+04   1.218e+04
Green Eye Shadow         5589.8     7014.1     0.7969     0.4255     -8159.6   1.934e+04
Vape                     4062.3     6656.4     0.6103     0.5417     -8985.8   1.711e+04
Front Beard             -1072.3     5294.7    -0.2025     0.8395  -1.145e+04      9306.6
Chinstrap               -750.75     5154.4    -0.1457     0.8842  -1.085e+04      9353.0
3D Glasses             3.39e+04     6989.9     4.8504     0.0000    2.02e+04   4.761e+04
Luxurious Beard       1.116e+04     6735.4     1.6575     0.0975     -2039.2   2.437e+04
Mustache                 1863.4     5212.6     0.3575     0.7207     -8354.5   1.208e+04
Normal Beard Black      -3260.9     7446.9    -0.4379     0.6615  -1.786e+04   1.134e+04
Normal Beard             7491.4     5212.7     1.4372     0.1507     -2726.7   1.771e+04
Eye Mask                 3582.8     5618.9     0.6376     0.5237     -7431.7    1.46e+04
Goat                    -3393.8     5263.0    -0.6448     0.5191  -1.371e+04      6923.0
Do-rag               -2.047e+04     7899.4    -2.5912     0.0096  -3.595e+04     -4983.9
Shaved Head          -1.589e+04     7816.3    -2.0329     0.0421  -3.121e+04     -568.10
Muttonchops             -1724.8     4991.7    -0.3455     0.7297  -1.151e+04      8060.1
Peak Spike           -1.247e+04     8269.3    -1.5075     0.1317  -2.868e+04      3743.8
Pipe                  3.518e+04     5423.3     6.4869     0.0000   2.455e+04   4.581e+04
VR                    1.323e+04     5562.6     2.3783     0.0174      2325.3   2.413e+04
Cap                     -9532.6     8090.4    -1.1783     0.2387  -2.539e+04      6326.5
Small Shades          1.846e+04     4605.4     4.0093     0.0001      9436.6   2.749e+04
Clown Eyes Green         1698.2     5105.2     0.3326     0.7394     -8309.3   1.171e+04
Clown Eyes Blue          2345.1     5040.0     0.4653     0.6417     -7534.4   1.222e+04
Headband             -1.225e+04     7792.5    -1.5726     0.1158  -2.753e+04      3020.6
Crazy Hair              -4407.2     8249.7    -0.5342     0.5932  -2.058e+04   1.176e+04
Knitted Cap             -3914.7     6486.3    -0.6035     0.5462  -1.663e+04      8800.1
Mohawk Dark              2621.4     6009.4     0.4362     0.6627     -9158.6    1.44e+04
Mohawk               -1.444e+04     7679.2    -1.8807     0.0600   -2.95e+04      610.69
Mohawk Thin              1740.2     5745.0     0.3029     0.7620     -9521.4     1.3e+04
Frumpy Hair          -1.439e+04     7702.4    -1.8681     0.0618  -2.949e+04      710.04
Wild Hair               -5907.8     7812.2    -0.7562     0.4495  -2.122e+04      9406.2
Messy Hair           -1.149e+04     7725.6    -1.4874     0.1369  -2.663e+04      3653.1
Eye Patch                2295.1     4356.9     0.5268     0.5984     -6245.6   1.084e+04
Stringy Hair         -1.252e+04     7434.5    -1.6844     0.0922   -2.71e+04      2051.1
Bandana              -1.156e+04     7427.2    -1.5569     0.1195  -2.612e+04      2995.9
Classic Shades           4193.2     4099.9     1.0228     0.3064     -3843.5   1.223e+04
Shadow Beard            -189.34     4188.1    -0.0452     0.9639     -8399.0      8020.3
Regular Shades           1873.7     4190.3     0.4471     0.6548     -6340.4   1.009e+04
Horned Rim Glasses       1844.0     4293.9     0.4294     0.6676     -6573.0   1.026e+04
Big Shades               8117.2     4291.4     1.8915     0.0586     -294.97   1.653e+04
Nerd Glasses             4467.9     4235.6     1.0548     0.2915     -3834.9   1.277e+04
Black Lipstick           948.83     4569.7     0.2076     0.8355     -8008.8      9906.5
Mole                     1395.1     3428.4     0.4069     0.6841     -5325.4      8115.5
Purple Lipstick          1559.0     4598.9     0.3390     0.7346     -7455.9   1.057e+04
Hot Lipstick             2973.1     4599.4     0.6464     0.5180     -6042.9   1.199e+04
Cigarette                5580.1     3213.8     1.7363     0.0825     -719.74   1.188e+04
Earring                  1234.4     2130.4     0.5795     0.5623     -2941.6      5410.5
========================================================================================

F-test for Poolability: 1.9125
P-value: 0.0000
Distribution: F(942,8437)

Included effects: Time

In [52]:
y_pred2 = pols.predict(X_test)
y_pred2

                      predictions
punk_id date
3826    2020-09-24     -25.048708
1163    2021-05-03  263732.333192
4271    2021-04-08     263.474083
1719    2021-03-12   13843.635155
9417    2017-11-26  289903.991144
...                           ...
9749    2021-02-08   50941.257727
9155    2020-08-04    1378.243522
5561    2018-01-23   12334.525431
6115    2021-04-22  235750.123537
3028    2020-10-16   -7572.591547

[4060 rows x 1 columns]

In [53]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred2))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred2))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred2)))

Mean Absolute Error: 91353.20387370537
Mean Squared Error: 36416954313.65309
Root Mean Squared Error: 190832.26748548867